* {
    background-color: #C3EDC0;
}

.f-color {
    color: #AAC8A7 !important;
}

.card {
    background-color: #C3EDC0 !important;
}

.btn-color {
    background-color: #E9FFC2 !important;
    color: #AAC8A7 !important;
}